<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Supervisor Reports</title>
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link rel="stylesheet" href="/css/supervisor_reports_style.css">
</head>

<body>

    <main>
        <div class="sidebar">
            <img src="/logo.png" style="scale:55%; margin: auto; ">
        </div>

        <div class="content">
            <div class="content-main">

                <h2>Welcome, Supervisor <span id="supervisorName" style="font-weight:bold;"><%= supervisor.first_name %> <%= supervisor.last_name %></span>!</h2>
                
                <div class="content-bar">

                    <h1> SDW - <span id="SDWName"> <%= sdw.first_name%> <%= sdw.last_name%> </span>'s Records: </h1>
                    
                    <!--<div class="dropdown" style="position:absolute; right:30px">
                        <label>Sort by: </label>
                        -- Sorting here seems useless since these are just the reports folder
                         but i'll leave it just in case --
                        <select id="sortMenu">
                            <option value="alphabetical">Alphabetical</option>
                            <option value="lastupdated">Last Updated</option>
                            -- Add more options here if needed --
                        </select>
                    </div> -->
                    
                </div>
                <button class="back-btn" onclick="window.location.href='/home'">Back to SDWs Page</button>
                <div class="divButtons">
                        <!-- Add buttons here -->
                        <!-- Add IDs to buttons and the like when needed -->
                        <!-- hardcoded the report types instead, since they're fixed anyway -->
                    <button class="report-btn" onclick="navigateToReports(<%= sdw.sdw_id %>, 'DSWD Annual Report')"     id="1"><span>DSWD Annual Report</span></button>
                    <button class="report-btn" onclick="navigateToReports(<%= sdw.sdw_id %>, 'Community Profile')"      id="2"><span>Community Profile</span></button>
                    <button class="report-btn" onclick="navigateToReports(<%= sdw.sdw_id %>, 'Target Vs ACC & SE')"     id="3"><span>Target Vs ACC & SE</span></button>
                    <button class="report-btn" onclick="navigateToReports(<%= sdw.sdw_id %>, 'Caseload Masterlist')"    id="4"><span>Caseload Masterlist</span></button>
                    <button class="report-btn" onclick="navigateToReports(<%= sdw.sdw_id %>, 'Education Profile')"      id="5"><span>Education Profile</span></button>
                    <button class="report-btn" onclick="navigateToReports(<%= sdw.sdw_id %>, 'Assistance to Families')" id="6"><span>Assistance to Families</span></button>
                    <button class="report-btn" onclick="navigateToReports(<%= sdw.sdw_id %>, 'Poverty Stoplight')"      id="7"><span>Poverty Stoplight</span></button>
                    <button class="report-btn" onclick="navigateToReports(<%= sdw.sdw_id %>, 'CNF Candidates')"         id="8"><span>CNF Candidates</span></button>
                    <button class="report-btn" onclick="navigateToReports(<%= sdw.sdw_id %>, 'Retirement Candidates')"  id="9"><span>Retirement Candidates</span></button>
                    <button class="report-btn" onclick="navigateToReports(<%= sdw.sdw_id %>, 'VM Accomplishments')"     id="10"><span>VM Accomplishments</span></button>
                    <button class="report-btn" onclick="navigateToReports(<%= sdw.sdw_id %>, 'Correspondence')"         id="11"><span>Correspondence</span></button>
                    <button class="report-btn" onclick="navigateToReports(<%= sdw.sdw_id %>, 'Leaders Directory')"      id="12"><span>Leaders Directory</span></button>
            
                </div>
                
            </div>
        </div>
        <!-- <button class="logout-btn" onclick="window.location.href='/login'">Logout</button>  -->
        <a href="/logout" class="logout-btn">Logout</a>  
    </main>

    <script src="/js/supervisor_reports.js"> </script>
</body>
</html>